<div class="navContainer">
  <!--<button (click)="likeCheck()">favs</button>-->
  <div class="logo">
    <a routerLink='/home'>
		  <img id="logo" src="https://www.themoviedb.org/assets/1/v4/logos/primary-green-d70eebe18a5eb5b166d5c1ef0796715b8d1a2cbc698f96d311d62f894ae87085.svg">
    </a>
	</div> 
  <div class="searchBar">
    <input [(ngModel)]="maService.search" (keyup.enter)="maService.getData()">
    <button id="searchButton" (click)="maService.getData()">Search</button>
  </div>
	<div class="buttons">
	  <div id="innerButton">
		  <a id="login" (click)="uService.openLogin()">Log in</a>
		  <a id="signup" (click)="uService.openSignUp()">Sign up</a>
		</div>
		<div id="loggedinUserName">
		  <a id="userNameDisplay" (click)="uService.logOutUser()"></a>
		</div>
	</div> 
  <div class="form-popup" id="logInForm">
    <form action="/action_page.php" class="form-container">
      <label for="email"><b>Email</b></label>
      <input [(ngModel)]="uService.userCred.email" type="text" placeholder="Enter Email" name="email" required>
      <label for="psw"><b>Password</b></label>
      <input [(ngModel)]="uService.userCred.password" type="password" placeholder="Enter Password" name="psw" required>
      <button type="submit" class="btn" (click)="uService.logInUser()">Login</button>
      <button type="button" class="btn cancel" (click)="uService.closeLogin()">Close</button>
    </form>
  </div>
  <div class="signUpform-popup" id="signUpForm">
    <form action="/action_page.php" class="signUpform-container">
    	<div id="signupHeader">
    	  <h1>Sign Up!<button type="buttonX" class="cancelX" (click)="uService.closeSignUp()">X</button></h1>
    	</div>
    	<label for="email"><b>First Name</b></label>
      <input [(ngModel)]="uService.user.firstName" type="text" placeholder="First Name" name="firstName" required>
      <label for="email"><b>Last Name</b></label>
      <input [(ngModel)]="uService.user.lastName" type="text" placeholder="Last Name" name="lastName" required>
      <label for="email"><b>Email</b></label>
      <input [(ngModel)]="uService.user.email" type="text" placeholder="Email" name="email" required>
      <label for="psw"><b>Password</b></label>
      <input [(ngModel)]="uService.user.password" type="password" placeholder="Password" name="psw" required>
      <button type="submit" class="btn" (click)="uService.signUpUser()">Submit</button>
    </form>
  </div>
</div>