<div class="searchBar">
<input [(ngModel)]="maService.search">
<button (click)="maService.getData()">test</button>
</div>

<div class='gridContainer' *ngIf="maService.results">
    <div *ngFor="let x of maService.results.results">
      <div class="gridItems">
      <h3>{{ x.original_title }}</h3>  
      <img src="https://image.tmdb.org/t/p/w500/{{ x.poster_path }}">
      </div>
  </div>
</div>

<div class="pageLink" *ngIf="maService.results">
  <div *ngFor="let x of maService.results; let i = index">
    <a>test area {{ i }}</a>
  
  </div>
</div>
<router-outlet></router-outlet>
