body {
    background-color: grey;
    background-image: none;
}

    #background_wrap {
    z-index: -100;
    position: fixed;
    background-position: center top;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-image: none;
    background-repeat: no-repeat;
    background-attachment: fixed;
}