<a name="top"></a>
<div class="outerDisplayContainer">
    <div class="displayContainer" >
        <div class="actorContainer" *ngIf="maService.resultsActors">
            <div *ngFor="let x of maService.resultsActors.cast; let i = index">
                <div *ngIf="i<5">
                    <div id="actorBox">
                        <img id="actors" src="https://image.tmdb.org/t/p/w500/{{ x.profile_path }}">
                            <div id="actorText">
                                <a id="actorName">{{ x.name }}</a>
                                <br>
                                <a>{{ x.character }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>    
        <div class="video-container" id="video-container">    
            <div class="videoBox" id="youTube"></div>
        </div>
            <img id="poster" src="{{ maService.posterInset }}">
        <div id="title"></div>
        <div class="wrapper">
            <div class="flexWapper">
                <button id="rating" (click)="uService.logOutUser()"></button>
                    <a id="userRating">User<br>Score</a>
                <button id="fav" (click)="clickLike()"><a id="liked">&#10084;</a></button>
            </div>
        </div>
        <div id="overview"></div>
        <div class="similarContainer" *ngIf="maService.resultsSimilar">
            <div *ngFor="let x of maService.resultsSimilar.results; let i = index">
                <div *ngIf="i<5">
                    <div id="similarBox">
                        <a><img id="actors" (click)="maService.clickLoad(x.backdrop_path, x.title, x.overview, x.poster_path, x.id, x )" src="https://image.tmdb.org/t/p/w500/{{ x.poster_path }}"></a>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</div>