.outerContainer{
    /*position: relative;*/
    padding-top: 110px;
    overflow: auto;
}

.container {

    background-color: rgba(79, 79, 79, 0.5);
    margin-bottom: 7%;
    margin-left: 13%;
    margin-right: 13%;
    color: white;
    padding-bottom: 2%;
    border-radius: 10px;
}

.inner {
    text-align:center;

    
}

#sad {
    font-size: 300px;
}

#homeButton {
    border-width: 2px;
    background-color: #f9f9f9;
    color: #777;
    border: solid 2px #777;
    margin-right: 8px;
    font-family: "Roboto", "Helvetica Neue", "Helvetica", Arial, sans-serif;
    border-radius: 2px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.4px;
    line-height: 20px;
    padding: 8px 14px;
    text-decoration: none;
}